<html>
  <head>
    <title>Success</title>
    <script src="https://js.stripe.com/v3/"></script>  
  </head>
  <body>
    <div id="status"></div>
    <pre id="payment-intent"></pre>

    <script>
        const params = new URLSearchParams(window.location.search);
        const clientSecret = params.get("payment_intent_client_secret");
  
        const stripe = Stripe('<%= publishableKey %>');
  
        const retrievePaymentIntent = async () => {
          try {
            const { paymentIntent } = await stripe.retrievePaymentIntent(clientSecret);
  
            const status = document.querySelector('#status');
            console.log(paymentIntent);
            status.innerText = paymentIntent.status;

            if (paymentIntent.status === 'processing') {
              setTimeout(retrievePaymentIntent, 2000);
            }
          } catch (error) {
            console.error('Error retrieving PaymentIntent:', error);
          }
        };
        retrievePaymentIntent();
      </script>
  </body>
</html>
